html {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    font-family: Helvetica;
    padding-left: 25px;
    padding-right: 25px;
}

h2 { 
    padding-top: 25px;
    padding-bottom: 10px; 
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {background-color: #f5f5f5}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ee4d2e;
    color: white;
}

.collumn1 {
    float: left;
    padding-right: 50px;
}

.collumn2 {
    float: left;
    clear: right;
}

.temperature { padding-left: 25px; width: 300px; }
.de .den, .de .dene, .de .denem, .de .deneme { position: absolute;  left: 50%; top: 50%; }
.de {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background-color: transparent;
}
.den {
    position: relative;
    width: 210px;
    height: 210px;
    margin: -105px 0 0 -105px;
    border-radius: 100%;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .5), 0 2px 20px rgba(255, 255, 255, 1);
    background: #df3341;
    background: -moz-linear-gradient(left, #df3341 0%, #d4f355 50%, #61c0ec 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#df3341), color-stop(50%,#d4f355), color-stop(100%,#61c0ec));
    background: -webkit-linear-gradient(left, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    background: linear-gradient(to right, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    position: relative;
}
.dene {
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    border-radius: 100%;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}
.denem {
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    border-radius: 100%;
    background: #cbd5d6;
    background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
    background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
    padding: 15px 10px 0 20px;
    width: 120px;
    height: 137px;
    display: inline-block;
    margin: -70px 0 0 -85px;
    color: #555;
    text-shadow: 1px 1px 1px white;
    font-family: 'Helvetica';
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}
.deneme span { font-size: 25px; font-weight: 200; }
.deneme strong { position: absolute; right: 10px; top: 25px; font-size: 40px; }

.light
{
    height:300px;
    width:300px;
    position:relative;
}
.lightText
{
    z-index:1;
    position:absolute;
    color:#555;
    font-size:45px;
    font-weight:bold;
    left: 100px;
    top: 70px;
}
.lxText
{
    z-index:1;
    position:absolute;
    color:#555;
    font-size:35px;
    font-weight:bold;
    left: 135px;
    top: 125px;
}

.block {
    position: relative;
}

.potText
{
    z-index:1;
    position:absolute;
    color:#555;
    font-size:45px;
    font-weight:bold;
    left: 250px;
    top: 70px;
}

.switchText
{
    z-index:1;
    position:absolute;
    color:#555;
    font-size:45px;
    font-weight:bold;
    left: 250px;
    top: 50px;
}