<div class="container">
    <div class="de">
        <div class="den">
            <div class="dene">
                <div class="denem">
                    <div class="deneme">
                    23<span>.9</span><strong>&deg;</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>