<h1>Readings Page</h1>
<p>{{ message }}</p>
<p>{{ message1 }}</p>

<form><input type=button ng-click="reload($event)" value="Reload all sensor values."></form> 

<div class="visualizationWrapper">
    <div class="collumn1">
        <h2>{{ temperature }}</h2>
        <div class="temperature">
            <div class="de">
                <div class="den">
                    <div class="dene">
                        <div class="denem">
                            <div class="deneme">{{temperature1}}<span>{{temperature2}}</span><strong>&deg;</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>{{ light }}</h2>
        <div class="light">
            <p class="lightText">{{lux}}</p>
            <p class="lxText">lx</p>
            <img src="./media/Decorative_Sun.png" alt="LightIllustration">
        </div>
    </div>
    
    <div class="collumn2">
        <h2>{{ pot }}</h2>
        <div class="block">
            <p class="potText">{{ potRead }}</p>
            <img src="./media/pot.jpg" alt="Potentiometer" width="235" height="235">
        </div>
        
        <h2>{{ switch }}</h2>
        <div class="block">
            <p class="switchText">{{ switchRead }}</p>
            <img src="./media/switch.jpg" alt="Switch" width="300" height="300">
        </div>
    </div>
</div>

<p>{{ errorMSG }}</p>