<h1>Registration Page</h1>
<p>{{ message }}</p>

<p><input type="text" ng-model="name" placeholder="New sensor name." autofocus>{{ nameError }}</p>
<p><input type="text" ng-model="type" placeholder="New sensor type." autofocus>{{ typeError }}</p>

<form><input type=button ng-click="register($event)" value="Register new sensor."></form> 

<p>{{message1}}</p>
<p>{{returnedName}}</p>
<p>{{returnedType}}</p>
<p>{{returnedID}}</p>
<p>{{message2}}</p>
<p>{{errorMSG}}</p>