<h1>Search Page</h1>

<p>{{message0}}</p>
<p>{{message1}}</p>
<p><input type="text" ng-model="owner" ng-keydown="search($event)" placeholder="Required." autofocus>{{error1}}</p>
<p>{{message2}}</p>
<p><input type="text" ng-model="sensorName" ng-keydown="search($event)" placeholder="Optional." autofocus></p>
<p>{{message3}}</p>
<p><input type="text" ng-model="sensorType" ng-keydown="search($event)" placeholder="Optional." autofocus></p>
<p>{{error2}}</p>
<p>Sensors found: {{amount}}</p>
<p>{{name}}</p>
<p>{{reading}}</p>
<p>{{type}}</p>
<p>{{id}}</p>
<table>
    <tr>
        <th>Name:</th>
        <th>Reading:</th>    
        <th>Type:</th>
        <th>ID:</th>
    </tr>
    <tr ng-repeat="sensor in sensors">
        <td>{{sensor.name}}</td>
        <td>{{sensor.reading}}</td>
        <td>{{sensor.type}}</td>
        <td>{{sensor.id}}</td>
    </tr>
</table>